.todo {
    cursor: pointer;
    list-style-type: none;
}

.todo.completed {
    text-decoration: line-through;
}

.todo.incomplete {
    text-decoration: none;
}

#vapor {
    max-width: 200px;
    display: inline-block;
    float: right;
    margin-bottom: 10px;
}
