html {
    font-family: 'Ubuntu', sans-serif;;
    font-size: 12px;
    background: #EFEFEF;
}

body {
    margin: 0;
}

h1, h2 {
    padding: 10px 0 10px 0;
    color: white;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

header {
    background: 
        url('http://i.imgur.com/DiRyV9q.gif') 50vw 30px no-repeat,
        url('http://i.imgur.com/gcZ30s9.png') center;
    min-height: 200px;
    padding: 30px;
    margin-bottom: 20px;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.todo-wrapper {
    padding: 10px;
    background: white;
    border-bottom: 1px solid #eee;
}
.todo {
    cursor: pointer;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
}

.todo-list {
    margin-top: 5px;
    margin-bottom: 10px;
}

.todo.completed {
    color: #ccc;
    font-weight: 300;
}

.todo.incomplete {
    text-decoration: none;
}

.add-todo-btn {
    font-size: 1.25rem;
    cursor: pointer;
    padding-left: 5px;
    padding-top: 5px;
    color: #666;
}

.add-todo-btn:hover {
    color: #333;
}

.todo-text-input {
    padding: 5px 10px 5px 10px;
    width: 200px;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    border: 0px;
}

footer {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    background: #DDD;
}

footer, footer a {
    color: #777;
}

footer a:hover {
    color: #555;
}

.icon-link {
    margin-right: 7px;
}

::selection {
    background:#81F7C1;
    color:#22153E;
    text-shadow:none;
}
/* Safari & Chrome - Webkit Rendering */
::-webkit-selection {
    background:#81F7C1;
    color:#22153E;
    text-shadow:none;
}
/* Mozilla based - Gecko Rendering */ 
::-moz-selection {
    background:#81F7C1;
    color:#22153E;
    text-shadow:none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    body {
        margin: 10px;
    }
}
