* {
    box-sizing: border-box;
}

html, input {
    font-family: 'Ubuntu', sans-serif;;
}

html {
    font-size: 12px;
    background: url('http://i.imgur.com/H1BdHbs.png') center;
}

body {
    margin: 0;
}

.content {
    min-height: calc(100vh - 150px);
}

h1, h2, h3 {
    margin: 10px 0 10px 0;
    color: white;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

header {
    padding: 30px;
    margin-bottom: 20px;
}

.row {
    max-width: 900px;
    margin: 0 auto;
}

.todo {
    padding: 10px;
    background: white;
    border-bottom: 1px solid #eee;
}

.todo:hover~.todo-buttons {
    color: red;
}

.todo-text {
    cursor: pointer;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #444;
}

.todo-buttons {
    position: relative;
    float: right;
    font-size: 1.25rem;
    color: #777;
}

.todo-buttons a {
    cursor: pointer;
    padding: 5px;
    margin: 0;
}

.todo-edit-field {
    border: 0px;
    color: #444;
    font-size: 1.25rem;
    padding: 0px 0 4px 0;
    border-bottom: 2px solid white;
    background: none;
    outline: none;
}

.edit-label {
    display: block;
    font-size: .75rem;
}

.todo.isEditing {
    padding-bottom: 5px;
    background: #3E606F;
}

.todo.isEditing * {
    color: white;
}

.todo, .todo-text-input {
    font-size: 1.25rem;
}

.todo-list {
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 999px;
}

.todo.completed,
.todo.completed .todo-text,
.todo.completed .todo-buttons {
    color: #CCC;
}

.todo.incomplete {
    text-decoration: none;
}

.add-todo-btn {
    cursor: pointer;
    background-color: #FA6757;
    border: 0;
    padding: 13px 15px 13px 15px;
    color: white;
    border-radius: 999999px;
    margin-left: 5px;
    font-size: 1.25rem;
}

.add-todo-btn:hover {
    color: #EEE;
}

.todo-text-input {
    padding: 10px;
    width: 200px;
    font-family: 'Ubuntu', sans-serif;
    border: 0px;
    border-radius: 3px;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    padding: 20px 0 20px 0;
    background: #DDD;
}

footer, footer a {
    color: #777;
}

footer a:hover {
    color: #555;
}

.icon-link {
    margin-right: 7px;
}

::selection {
    background:#81F7C1;
    color:#22153E;
    text-shadow:none;
}
/* Safari & Chrome - Webkit Rendering */
::-webkit-selection {
    background:#81F7C1;
    color:#22153E;
    text-shadow:none;
}
/* Mozilla based - Gecko Rendering */
::-moz-selection {
    background:#81F7C1;
    color:#22153E;
    text-shadow:none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    body {
        margin: 10px;
    }
}
